*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 30px;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-description{
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 40px 0px 0px;
}

#title{
    margin: 0px 0px 5px 0px;
    font-weight: 600;
    font-size: larger;
}
#description{
    height: 100px;
}

main{
    width: 100%;
}

main #newTodoContainer {
    margin: 10px
}

main #deleteBtn{
    margin: 10px;
}